

* {
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu", sans-serif;
}


.parent {
    width: 100%;
    height: 100vh;
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width: 60%;
    height: 70%;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 60% 40%;
    overflow: hidden;
    box-shadow: 10px 10px 0px 0px rgb(50, 50, 50);
    transition-duration: 0.6s;
}

.card:hover {
    box-shadow: 10px 10px 0px 0px rgb(80, 80, 80);
}

.card-right {
    padding: 20px;
    position: relative;
}

.card-right-heading {
    font-size: 26px;
    font-weight: 700;
    color: rgb(32, 32, 32);
    padding-bottom: 10px;
}

.card-right-quote {
    font-size: 16px;
    font-weight: 400;
    color: rgba(32, 32, 32, 0.793);
    width: 84%;
    padding-bottom: 40px;
}

.card-right-input-parent {
    display: flex;
}

.card-right-input-child-pcode {
    color: rgb(32, 32, 32);
}

.card-right-input-child-pcode-label {
    font-size: 18px;
    display: block;
    margin-bottom: 14px;
}

.card-right-input-child-pcode-input {
    width: 280px;
    height: 30px;
    border: none;
    outline: none;
    padding: 4px 10px;
    border-radius: 12px;
    outline: 1px solid rgba(32, 32, 32, 0.4);
    transition-duration: 0.6s;
}

.card-right-input-child-pcode-input:hover, .card-right-input-child-pcode-input:focus {
    outline: 1px solid rgb(32, 32, 32);
}

.card-right-input-child-button {
    position: absolute;
    bottom: 20px;
    width: 300px;
    height: 44px;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: rgba(32, 32, 32, 0.9);
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition-duration: 0.2s;
}

.card-right-input-child-button:hover {
    background-color: rgb(32, 32, 32);
}

.card-right-input-child-button:active {
    background-color: rgba(32, 32, 32, 0.95);
    transform: scale(0.98);
}


.card-left {
    padding: 20px;
}

.card-left-parent {
    background-color: white;
    border: 2px solid rgba(32, 32, 32, 0.2);
    border-radius: 14px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 60% 40%;
    overflow: hidden;
}

.card-left-parent-top {
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
}

.card-left-parent-top-left {
    overflow: hidden;
    display: grid;
    grid-template-rows: 70% 30%;
}

.card-left-parent-top-left-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-left-parent-top-left-top-img {
    height: 80%;
}

.card-left-parent-top-left-bot {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: start;
}

.card-left-parent-top-left-bot {
    background-color: rgba(135, 207, 235, 0.515);
}

.card-left-parent-top-right {
    background-color: rgba(255, 255, 0, 0.504);
}

.card-left-parent-bot {
    background-color: rgba(255, 0, 0, 0.303);
}