

* {
    margin: 0px;
    padding: 0px;
    font-family: "Ubuntu", sans-serif;
}


.parent {
    width: 100%;
    height: 100vh;
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: white;
    width: 60%;
    height: 70%;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 60% 40%;
    overflow: hidden;
}

.card-left {
    background-color: rgba(255, 0, 0, 0.203);
    padding: 20px;
}

.card-right {
    padding: 20px;
    position: relative;
}

.card-right-heading {
    font-size: 26px;
    font-weight: 700;
    color: rgb(32, 32, 32);
    padding-bottom: 10px;
}

.card-right-quote {
    font-size: 16px;
    font-weight: 400;
    color: rgba(32, 32, 32, 0.793);
    width: 84%;
    padding-bottom: 40px;
}

.card-right-input-parent {
    display: flex;
}

.card-right-input-child-pcode {
    color: rgb(32, 32, 32);
}

.card-right-input-child-pcode-label {
    font-size: 18px;
    display: block;
    margin-bottom: 14px;
}

.card-right-input-child-pcode-input {
    width: 280px;
    height: 30px;
    border: none;
    outline: none;
    padding: 4px 10px;
    border-radius: 12px;
    outline: 1px solid rgba(32, 32, 32, 0.4);
    transition-duration: 0.6s;
}

.card-right-input-child-pcode-input:hover, .card-right-input-child-pcode-input:focus {
    outline: 1px solid rgb(32, 32, 32);
}

.card-right-input-child-button {
    position: absolute;
    bottom: 20px;
    width: 300px;
    height: 44px;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: rgba(32, 32, 32, 0.9);
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition-duration: 0.2s;
}

.card-right-input-child-button:hover {
    background-color: rgb(32, 32, 32);
}

.card-right-input-child-button:active {
    transform: scale(0.98);
}